#editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-width: 500px;
    width: 40%;
    max-width: 800px;
    height: 95%;
    
    gap: 10px;
    
    padding: 10px;
    border-radius: 6px;
    box-sizing: border-box;
    
    background-color: #232946;
}

#editor textarea {
    max-width: calc(100% - 5px);
    max-height: 10em;
    min-height: 4em;
}

#editor label {
    font-weight: 500;
}

.editor-title {
    margin: 0;
    color: #232946;
}

.editor-wrapper {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.editor-wrapper label {
    color: #232946;
}

.editor-wrapper input[type=text] {
    color :#232946;
}

.editor-card {
    background-color: #fffffe;
    padding: 10px;
    border-radius: 6px;
    
    width: 100%;
    
    gap: 10px;
    
    box-sizing: border-box;
}