#preview {
    display: flex;
    align-items: center;
    
    position: sticky;
    top: 50px;
    
    width: 800px;
    min-height: 1000px;
    height: 1000px;
    
    background-color: #fffffe;
    color: #232946;
}

#preview-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 30%;
    min-width: 200px;
    height: 100%;
    padding: 20px;
    gap: 20px;
    
    background-color: #232946;
    box-sizing: border-box;
    box-shadow: 4px 4px 10px grey;
    
    font-size: 12px;
}

#preview-right {
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
    background-color: #fffffe;
    box-shadow: 4px 4px 10px grey;
    
    width: 70%;
    min-width: 500px;
    height: 100%;
    padding: 20px;
}

#preview-details {
    display: flex;
    width: 100%;
}

#profile-picture {
    height: auto;
    min-width: 32px;
}

#preview-contact {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    gap: 10px;
}

#preview-contact img {
    height: auto;
    max-width: 24px;
}

.preview-card {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    gap: 10px;
}

.preview-card-title {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
    font-size: 24px;
}

.preview-card-slide {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.preview-card-slide-vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.preview-name {
    font-size: 40px;
}

.preview-title {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #232946;
}

.preview-description {
    border-bottom: 1px solid #232946;
    text-decoration: none !important;
}

.preview-name span:first-of-type {
    font-weight: 500;
}

.preview-text {
    color: #232946;
    margin: 0;
    
    max-width: 100%;
    overflow-wrap: break-word;
}

#preview-contact .preview-text {
    color: #fffffe;
    max-width: 80% !important;
}

.preview-experience {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.preview-experience-list {
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    width: 100%;
    
    list-style: none;
    margin: 0;
    padding: 0;
}

.preview-experience-dates {
    display: flex;
    color: black;
    
    font-size: 14px;
    font-weight: 600;
    width: 35%;
}

.preview-experience-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    
    gap: 20px;
}

.preview-experience-info {
    display: flex;
    flex-direction: column;
    
    width: 65%;
}

.preview-experience-description {
    width: 100%;
    overflow-wrap: break-word;
}

#skills {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

