#content {
    display: flex;
    justify-content: center;
    
    padding-top: 50px;
    padding-bottom: 50px;
    
    gap: 50px;
    width: 100%;
    min-height: calc(100% - var(--header-height));
    height: auto;
    
    background-color: #d4d8f0;
}

@media only screen and (max-width: 1450px) {
    #content {
        flex-direction: column;
        align-items: center;
    }
    
    #editor {
        width: 100%;
    }
}