#header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
    min-height: var(--header-height);
    
    background-color: #232946;
}

#header h4 {
    color: #fffffe;
    margin: 0px;
}

#header span {
    color: #b8c1ec;
    margin: 0px;
}